<a href="https://colab.research.google.com/github/MileneRuth/EstudosFrontEnd/blob/main/Operadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n1 = int(input('digite um número:'))
n2 = int(input('digite outro número: '))
s = n1 + n2
print('A soma entre {0} e {1} vale {2}'.format(n1, n2, s))

digite um número:25
digite outro número: 23
A soma entre 25 e 23 vale 48

In [ ]:
n1 = int(input('um número: '))
n2 = int(input('outro número: '))
s = n1 + n2
print('a soma de {0} e {1} é {2}'.format(n1, n2, s))

um número: 25
outro número: 65
a soma de 25 e 65 é 90

In [ ]:
n1 = int(input('coloque um valor: '))
n2 = int(input('outro valor, please: '))
s = n1 + n2
print('a soma entre {0} e {1} vale {2}'.format(n1, n2, s))

coloque um valor: 562
outro valor, please: 254
a soma entre 562 e 254 vale 816

In [ ]:
n = bool(input('digite um valor: '))
print(n)

digite um valor:
False

In [ ]:
n = float(input('digite um valor: '))
print(n)

digite um valor: 20
20.0

In [ ]:
n = str(input('digite um valor:'))
print(n)

digite um valor:23
23

In [ ]:
n = input('digite um valor: ')
print(n.isnumeric())

digite um valor: oie
False

In [ ]:
n = input('digite algo: ')
print(n.isnumeric())

digite algo: 21
True

In [ ]:
n = input('digite algo: ')
print(n.isalpha())

digite algo: oie
True

In [ ]:
n = input('digite algo: ')
print(n.isalnum())

digite algo: mnv21
True

In [ ]:
filmes = ['malevola', 'cinderela', 'elsa' ]
if 'malevola' in filmes:
    print('sim,esta na lista')
else:
  print('não,esta na lista')

sim,esta na lista

In [ ]:
n1 = int(input('digite um número: '))
n2 = int(input('digite outro número: '))
s = n1 + n2
print('a soma entre {} e {} e igual a : {}'.format(n1, n2, s))

digite um número: 2546
digite outro número: 21562
a soma entre 2546 e 21562 e igual a : 24108

In [ ]:
a = input('digite algo: ')
print('o tipo primitivo desse vaçpr é ',type(a))
print('só tem espaços ?',a.isspace())
print('é um numero ? ',a.isnumeric())
print('é alfabetico ?',a.isalpha())
print('é alfanumerico ?',a.isalnum())
print('esta maiscúlas ?',a.isupper())
print('esta minuscúlas ?',a.islower())
print('esta capitalizado?',a.istitle())

digite algo: ruth
o tipo primitivo desse vaçpr é  <class 'str'>
só tem espaços ? False
é um numero ?  False
é alfabetico ? True
é alfanumerico ? True
esta maiscúlas ? False
esta minuscúlas ? True
esta capitalizado? False

In [ ]:
5+2== 7
5-2== 3
5*2== 10
5/2== 2.5
5**2==25
5//2==2
5%2==1

True

In [ ]:
5+3*2==11

True

In [ ]:
3*5+4**2==31

True

In [ ]:
3*(5+4)**4==243

False

In [ ]:
n1 = int(input('digite um valor: '))
n2 = int(input('digite outro valor: '))
s = n1+n2
m = n1*n2
d = n1/n2
di = n1//n2
e = n1**n2
print('a soma é {}, o produto é {}, a divisão é {:.3f}'.format(s, m, d,),end=' >>>>>')

digite um valor: 256
digite outro valor: 213
a soma é 469, o produto é 54528, a divisão é 1.202 >>>>>

In [ ]:
n1 = int(input('digite um valor:'))
s = n1 - 1
d = n1 + 1
print('O antecessor desse número é {},o sucessor desse número é : {}'.format(s, d),end='    <3')

digite um valor:6512498
O antecessor desse número é 6512497,o sucessor desse número é : 6512499    <3

correção guanabara, se você não for itilizar as vareaveis, não precisa colocar elas no codigo

In [4]:
n = int(input('digite um valor: '))
print('Analisando o valor {}, Seu antecessor é: {} e o antecessor é: {}'.format(n, (n-1), (n+2)))

digite um valor: 85
Analisando o valor 85, Seu antecessor é: 84 e o antecessor é: 87

In [ ]:
n1 = int(input('Digite um número: '))
m = n1*2
m2 = n1*3
d = n1**(0.5)
print('O dobro de número é: {},  o triplo: {},a raiz quadrada é:{:.2f} '.format(m, m2, d))

Digite um número: 254
O dobro de número é: 508, o triplo: 762,a raiz quadrada é:15.94

In [18]:
n = int(input('Digite um valor: '))
print('O dobro de: {}, e igual á: {}'.format(n, (n*2)))
print('O triplo de: {}, é igual á: {}. \n A raiz quadrada de: {} é igual: {:.2f}'.format(n, (n*3), n, pow(n, (1/2))))

Digite um valor: 81
O dobro de: 81, e igual á: 162
O triplo de: 81, é igual á: 243.
 A raiz quadrada de: 81 é igual: 9.00

In [ ]:
print('vamos calcular suas notas?')
n1 = float(input('digite sua nota 1: '))
n2 = float(input('digite sua note 2: '))
m = (n1+n2)/2
print('sua media é: {:.1f}'.format(m))

vamos calcular suas notas?
digite sua nota 1: 8.9
digite sua note 2: 5.8
sua media é: 7.3

In [22]:
n1 = float(input('Primeira nota do aluno: '))
n2 = float(input('Segunda nota do aluno: '))
m = (n1 + n2)/2
print('A media entre {:.1f} e {:.1f} é igual : {:.1f}'.format(n1, n2, m))

Primeira nota do aluno: 2.8
Segunda nota do aluno: 9.5
A media entre 2.8 e 9.5 é igual : 6.2

In [31]:
n1 = float(input('Digite um valor: {}, corresponde a {}mc '))
m = n1*100
n = n1*1000
print('esse valo rm milimetros é: {}. Agora ele em centimetro é: {}'.format(m, n), end='   :p')

Digite um valor: {}, corresponde a {}mc 1000
esse valo rm milimetros é: 100000.0. Agora ele em centimetro é: 1000000.0   :p

In [36]:
medida = float(input('digite uma distancia em metros: '))
cm = medida*100
mm = medida*1000
print('A media de {}m, corresponde a {:.0f}cm, {:.0f}mm'.format(medida, cm, mm))

digite uma distancia em metros: 2.5
A media de 2.5m, corresponde a 250cm, 2500mm

In [42]:
medida = float(input('digite uma valor em metros: '))
km = medida*0.001
hm = medida*0.010
dam = medida*0.10
cm = medida*100
mm = medida*1000
print('a medida de {}m, correponde a: {}km, \n{}hm, \n{}dam, \n{:.0f}cm, \n{:.0f}mm'.format(medida, km, hm, dam, cm, mm ))

digite uma valor em metros: 2.5
a medida de 2.5m, correponde a: 0.0025km,
0.025hm,
0.25dam,
250cm,
2500mm

In [ ]:
n1 = int(input('digite um valor: '))
m = n1*1,n1*2,n1*3,n1*4,n1*5,n1*6,n1*7,n1*8,n1*9,n1*10
s = n1+1, n1+2,n1+3,n1+4,n1+5,n1+6,n1+7,n1+8,n1+9,n1+10
d = n1/1, n1/2,n1/3,n1/4,n1/5, n1/6,n1/7,n1/8,n1/9,n1/10
print('a tabuada de soma do valor é: {}'.format(s))
print('A tabuada de multiplicação é: {}'.format(m))
print('A tabuada de divisão desse valor é {}'.format(d))

digite um valor: 9
a tabuada de soma do valor é: (10, 11, 12, 13, 14, 15, 16, 17, 18, 19)
A tabuada de multiplicação é: (9, 18, 27, 36, 45, 54, 63, 72, 81, 90)
A tabuada de divisão desse valor é (9.0, 4.5, 3.0, 2.25, 1.8, 1.5, 1.2857142857142858, 1.125, 1.0, 0.9)

In [54]:
n = int(input('Digite um numero: '))
print('{} x {} = {}'.format(n, 1, n*1))
print('{} x {} = {}'.format(n, 2, n*2))
print('{} x {} = {}'.format(n, 3, n*3))
print('{} x {} = {}'.format(n, 4, n*4))
print('{} x {} = {}'.format(n, 5, n*5))
print('{} x {} = {}'.format(n, 6, n*6))
print('{} x {} = {}'.format(n, 7, n*7))
print('{} x {} = {}'.format(n, 8, n*8))
print('{} x {} = {}'.format(n, 9, n*9))
print('{} x {} = {}'.format(n, 10, n*10))

Digite um numero: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [ ]:
n1 = float(input('quanto em dinheiro tem em sua carteira: '))
s = n1*3.27
print('esse e o valor em dolares que você tem: {}'.format(s))

quanto em dinheiro tem em sua carteira: 15
esse e o valor em dolares que você tem: 49.05

In [55]:
real= float(input('quanto de dinheiro você tem na carteira? R$ '))
dolar = real/3.27
print('com tantos R${:.2f} você pode coprar U${:.2f}'.format(real, dolar))

quanto de dinheiro você tem na carteira? R$ 25.60
com tantos R$25.60 você pode coprar U$7.83

esse deu errado.

In [ ]:
n1 = float(input('digite a altura de sua parede: '))
n2 = float(input('digete a largura da sua parede: '))
s = n1*n2
v = s/2
print(' a area e de: {:.1f}, E em metros quadrado é {:.1f}'.format(s,v))

digite a altura de sua parede: 12.20
digete a largura da sua parede: 25.52
 a area e de: 311.3, E em metros quadrado é 155.7

In [ ]:
al = float(input('digite a altura da sua parede em metros: '))
la = float(input('digite a largura da sua parede em metros: '))
ar = al*la
tn = ar/2
print(' A area da parede é: {:.1f} metros quadrados.'.format(ar))
print('é necessarios {} litros de tinta para pintar a parede.'.format(tn))

digite a altura da sua parede em metros: 15.20
digite a largura da sua parede em metros: 20.60
 A area da parede é: 313.1 metros quadrados.
é necessarios 156.56 litros de tinta para pintar a parede.

In [58]:
larg = float(input('Digite a largura da parede? '))
altu = float(input('Digite a altura da parede? '))
area = larg*altu
tinta = area/2
print('Sua parede tem a dimensão de {}x{} e sua aréa e de: {}m².'.format(larg, altu, area))
print('Para pintar sua parede e necessario {}l de tinta. '.format(tinta))

Digite a largura da parede? 1.5
Digite a altura da parede? 6.5
Sua parede tem a dimensão de 1.5x6.5 e sua aréa e de: 9.75m².
Para pintar sua parede e necessario 4.875l de tinta.

In [ ]:
pr = float(input('digite o preço do produto: '))
des = 5*pr/100
d = pr - des
print('aplicando o desconto de 5% fica no valor de R$: {:.2f}'.format(d))

digite o preço do produto: 25.50
aplicando o desconto de 5% fica no valor de R$: 24.23

In [61]:
preço = float(input('quanto custou o produto? R$ '))
des = preço - (preço*5/100)
print('O valor R${:.2f} com os 5% de desconto ficara R${:.2f}'.format(preço, des))

quanto custou o produto? R$ 25.50
O valor R$25.50 com os 5% de desconto ficara R$24.23

In [ ]:
pr = float(input('digite o valor do seu salario: '))
aum = 15*pr/100
d = pr + aum
print('Com o aumento de 15% seu salario agora e R$: {:.3f}'.format(d))

digite o valor do seu salario: 1.775
Com o aumento de 15% seu salario agora e R$: 1.864

In [71]:
pr = float(input('Digite o valor do seu salario: '))
aum = pr + (pr * 15 / 100)
print('Seu salario de R${:.2f} com o amuento de 15% seu salario vai para R${:.2f}'.format(pr, aum))

Digite o valor do seu salario: 1000
Seu salario de R$1000.00 com o amuento de 15% seu salario vai para R$1150.00